<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= typeof title != 'undefined' ? title : 'Auth app' %></title>
  <link rel="stylesheet" href="https://bootswatch.com/4/sandstone/bootstrap.min.css">

</head>

<body>

  <div class="container h-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <a class="navbar-brand " href="/"><img
          src="https://jaystack.com/wp-content/uploads/2015/12/nodejs-logo-e1497443346889.png" width="50px" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav m-auto">
          <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="/users/register">Register</a>
          <a class="nav-item nav-link" href="/users/login">Login</a>
        </div>

        <a href="#" class="btn btn-outline-danger">Our Services</a>
        <a href="#" class="btn btn-default ml-2">Contact Us</a>

      </div>

    </nav>
    <%- body %>
  </div>




  <script src="https://kit.fontawesome.com/bb84d57457.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
</body>

</html>