<div class="row align-items-center" style="height: 100vh;">
    <div class="col-md-7">
        <img src="/img/pablo-sign-in.png" alt="" width="100%">
    </div>
    <div class="col-md-5">
        
        <div class="card card-body text-center bg-light" style="border: none;">
            <h1><i class="fab fa-node-js fa-2x mt-5"></i></h1>
            <h6 class="mt-5">Create an account or login</h6>
            <a href="/users/register" class="btn btn-success btn-block mb-2 p-3 mt-3">Register</a
            >
            <a href="/users/login" class="btn btn-warning btn-block mt-2 mb-4 p-3">Login</a>
            <div class="mb-2">Or</div>
            <div>
                <a href="" class="btn btn-primary btn-block"><i class="fab fa-facebook-square"></i> Login With Facebook</a>
            </div>
          </div>
    </div>
  </div>